Scrapping data from the minfin.gov website

In [1]:
import pandas as pd
from urllib.request import Request, urlopen

req = Request(url='https://minfin.gov.ru/ru/perfomance/nationalwealthfund/statistics?id_57=27068-obem_fonda_natsionalnogo_blagosostoyaniya', headers={'User-Agent': 'Mozilla/5.0'})
webpage = urlopen(req).read()
df_list = pd.read_html(webpage)
df = pd.DataFrame(df_list[0])
df = df.rename(columns={df.columns[0]: "Date", df.columns[1]: "amount_blnUSD",df.columns[2]: 'amount_blnRUB'})
df = df.drop(columns=df.columns[3])
df['amount_blnRUB'] = df['amount_blnRUB'].str.replace(r'[***]', '', regex=True)
df['amount_blnUSD'] = df['amount_blnUSD'].str.replace(r'[***]', '', regex=True)
df['amount_blnRUB'] = df['amount_blnRUB'].str.replace(r'[ ,\xa0]+', '', regex=True)
df['amount_blnUSD'] = df['amount_blnUSD'].str.replace(',', '', regex=True).astype(float)
df['amount_blnRUB'] = df['amount_blnRUB'].astype(int) / 100
df['amount_blnUSD'] = df['amount_blnUSD'].astype(int) / 100

In [2]:
df['Date'] = pd.to_datetime(df['Date'], format='%d.%m.%Y', errors='coerce')
df['Date(m,Y)'] = df['Date'].dt.strftime('%B, %Y')
df

          Date  amount_blnUSD  amount_blnRUB       Date(m,Y)
0   2024-05-01         138.93       12750.84       May, 2024
1   2024-04-01         135.70       12534.41     April, 2024
2   2024-03-01         133.44       12258.66     March, 2024
3   2024-02-01         133.53       11922.37  February, 2024
4   2024-01-01         133.41       11965.07   January, 2024
..         ...            ...            ...             ...
191 2008-06-01          32.60         773.93      June, 2008
192 2008-05-01          32.72         773.82       May, 2008
193 2008-04-01          32.90         773.57     April, 2008
194 2008-03-01          32.22         777.03     March, 2008
195 2008-02-01          32.00         783.31  February, 2008

[196 rows x 4 columns]

In [3]:
df.to_csv("C:/Users/lenovo/python/RNWF/data/rnwf.csv",encoding="utf-8-sig")