Scrapping data from the minfin.gov website

In [11]:
import pandas as pd
from urllib.request import Request, urlopen

req = Request(url='https://minfin.gov.ru/ru/perfomance/nationalwealthfund/statistics?id_57=27068-obem_fonda_natsionalnogo_blagosostoyaniya', headers={'User-Agent': 'Mozilla/5.0'})
webpage = urlopen(req).read()
df_list = pd.read_html(webpage)
df = pd.DataFrame(df_list[0])
df = df.rename(columns={df.columns[0]: "Date", df.columns[1]: "amount_blnUSD",df.columns[2]: 'amount_blnRUB'})
df = df.drop(columns=df.columns[3])
df['amount_blnRUB'] = df['amount_blnRUB'].str.replace(r'[***]', '', regex=True)
df['amount_blnUSD'] = df['amount_blnUSD'].str.replace(r'[***]', '', regex=True)
df['amount_blnRUB'] = df['amount_blnRUB'].str.replace(r'[ ,\xa0]+', '', regex=True)
df['amount_blnUSD'] = df['amount_blnUSD'].str.replace(',', '', regex=True).astype(float)
df['amount_blnRUB'] = df['amount_blnRUB'].astype(int) / 100
df['amount_blnUSD'] = df['amount_blnUSD'].astype(int) / 100

In [12]:
df['Date'] = pd.to_datetime(df['Date'], format='%d.%m.%Y', errors='coerce') #for not silent fail
df['Date(m,Y)'] = df['Date'].dt.strftime('%B, %Y')
df

          Date  amount_blnUSD  amount_blnRUB        Date(m,Y)
0   2024-01-01         133.41       11965.07    January, 2024
1   2023-12-01         151.13       13432.97   December, 2023
2   2023-11-01         145.22       13541.23   November, 2023
3   2023-10-01         140.11       13648.34    October, 2023
4   2023-09-01         142.85       13703.60  September, 2023
..         ...            ...            ...              ...
187 2008-06-01          32.60         773.93       June, 2008
188 2008-05-01          32.72         773.82        May, 2008
189 2008-04-01          32.90         773.57      April, 2008
190 2008-03-01          32.22         777.03      March, 2008
191 2008-02-01          32.00         783.31   February, 2008

[192 rows x 4 columns]

In [13]:
df.to_csv("C:/Users/lenovo/python/RNWF/data/rnwf.csv",encoding="utf-8-sig")