Scrapping data from the minfin.gov website

In [1]:
import pandas as pd
from urllib.request import Request, urlopen

req = Request(url='https://minfin.gov.ru/ru/perfomance/nationalwealthfund/statistics?id_57=27068-obem_fonda_natsionalnogo_blagosostoyaniya', headers={'User-Agent': 'Mozilla/5.0'})
webpage = urlopen(req).read()
df_list = pd.read_html(webpage)
df = pd.DataFrame(df_list[0])
df = df.rename(columns={df.columns[0]: "Date", df.columns[1]: "amount_blnUSD",df.columns[2]: 'amount_blnRUB'})
df = df.drop(columns=df.columns[3])
df['amount_blnRUB'] = df['amount_blnRUB'].str.replace(r'[ ,\xa0]+', '', regex=True)
df['amount_blnRUB'] = df['amount_blnRUB'].astype(int) / 100
df['amount_blnUSD'] = df['amount_blnUSD'].astype(int) / 100
df['Date'] = pd.to_datetime(df['Date'])
df['Date(m,Y)'] = df['Date'].dt.strftime('%B, %Y')

df.to_csv("rnwf.csv",encoding="utf-8-sig")

As of today (November 10), the fund amount page has not been updated and the data for 01.11.2023 is missing. Therefore, we have added the data as of 01.11.2023 manually 
(from this link https://minfin.gov.ru/ru/press-center/?id_4=38739-o_rezultatakh_razmeshcheniya_sredstv_fonda_natsionalnogo_blagosostoyaniya).

In [2]:
november = pd.DataFrame({'Date': ['2023-11-01 00:00:00'], 'amount_blnUSD': [145.22], 'amount_blnRUB': [13541.23], 'Date(m,Y)': ['November, 2023']})
df = pd.concat([november, df])
df

                    Date  amount_blnUSD  amount_blnRUB       Date(m,Y)
0    2023-11-01 00:00:00         145.22       13541.23  November, 2023
0    2023-01-10 00:00:00         140.11       13648.34   January, 2023
1    2023-01-09 00:00:00         142.85       13703.60   January, 2023
2    2023-01-08 00:00:00         146.34       13313.45   January, 2023
3    2023-01-07 00:00:00         145.58       12670.27   January, 2023
..                   ...            ...            ...             ...
184  2008-01-06 00:00:00          32.60         773.93   January, 2008
185  2008-01-05 00:00:00          32.72         773.82   January, 2008
186  2008-01-04 00:00:00          32.90         773.57   January, 2008
187  2008-01-03 00:00:00          32.22         777.03   January, 2008
188  2008-01-02 00:00:00          32.00         783.31   January, 2008

[190 rows x 4 columns]